@import 'tailwindcss';

@font-face {
  font-family: 'YoungSerif-Regular';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
  font-family: 'Outfit-VariableFont_wght';
  src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@theme {
  --font-sans: 'Outfit-VariableFont_wght', sans-serif, system-ui;
}